.symbol {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 20px;
  color: #fff;
}

.active {
  color: #000;
  background: #fff;
}

.dangerous {
  color: #ff0000;
}
.warning {
  color: #ffff00;
}
.user {
  color: #00ff00;
}
