body {
  margin: 0;
  padding: 0;
  max-width: 100dvw;
  min-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #121212;
  font-family:
    'Fira Code',            /* моноширина для кода */
    'Segoe UI Emoji',       /* Windows emoji */
    'Apple Color Emoji',    /* MacOS emoji */
    'Noto Color Emoji',     /* Linux / Android */
    'Twemoji Mozilla',      /* можно добавить кастомно */
    monospace;
  font-size: 16px;
}
