body {
  margin: 0;
  padding: 0;
  max-width: 100dvw;
  width: calc(100dvw - 20px);
  min-height: 100dvh;
  overflow-x: auto;
  min-width: 890px;
  overflow-y: scroll;
  background-color: #121212;
  font-family:
    'Fira Code',            /* моноширина для кода */
    'Segoe UI Emoji',       /* Windows emoji */
    'Apple Color Emoji',    /* MacOS emoji */
    'Noto Color Emoji',     /* Linux / Android */
    'Twemoji Mozilla',      /* можно добавить кастомно */
    monospace;
  font-size: 16px;
  box-sizing: border-box;
}

.mobile-warning {
  padding: 1rem;
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
}
